<!DOCTYPE html>
<html lang="en">

<%-include("./partials/head.ejs")%>
    <body>
        <%-include("./partials/header.ejs")%>
            <main class="main-carrito">
                <br>
                <div class="contenedor-general">
                    <h2 class="titulares">Detalle de compra</h2><br>
                    <div class="contenedor-carrito">
                            <%let suma=0; let parcial=0; if (locals.temp2) { temp2.forEach (item=> { %>
                                <% if (item.id !=0) { %>
                                    <% parcial=Number.parseInt(item.precio); suma +=parcial %>
                                        <div class="contenedor-detalle-carrito">
                                            <p class="contenedor-nombre-carrito"><%= item.nombre %>
                                            </p>
                                            <p class="contenedor-imagen-carrito"><img src="/images/<%=item.imagen%>" alt="" width="80px" height="65px">
                                            </p> 
                                            <p class="contenedor-precio-carrito">$<%= item.precio %>                                         
                                        </div>
                                        <% }})} %>
                    </div>
                    <div class="contenedor-total">
                        <div>
                            <p style="text-align: end; padding-top: 20px; padding-bottom: 15px; font-weight: bold;" >TOTAL $<%=suma%>
                            </p>
                        </div><br>
                    </div>
                    <div class="contenedor-botones-carrito">
                        <a href="/" type="submit" class="botones-DETAIL">Confirmar</a>
                        <a href="/products" type="submit" class="botones-DETAIL">Seguir comprando</a>
                    </div>
                    <br>
                </div>

            </main>
            <%-include("./partials/footer.ejs")%>
    </body>

</html>