<!DOCTYPE html>
<html lang="en">

<%-include("./partials/head.ejs")%>

    <body>

        <%-include("./partials/header.ejs")%>

            <div class="header">
                <div class="title-header">
                    <h2>MIRÁ UN ADELANTO<br><span>&nbsp;&nbsp;&nbsp;&nbsp; DE LA NUEVA COLECCIÓN</span></h2>
                </div>
            </div>

            <!-- Sneakers -->
            <div class="title-card">
                <h2>DESTACADOS</h2>
            </div>

            <% for (let i= 0 ; i < 1; i++ ) { %>
                <div class="container">
                    <div class="product prod-desk">
                        <div class="product-card">

                            <h2 class="name">
                                <%= products[i].nombre %>
                            </h2>
                            <a href="/products/<%=products[i].id%>" class="popup-btn">Detalle</a>
                            <img class="product-img" src="/images/<%= products[i].imagen %>" alt="">                            
                        </div>
                    </div>
                </div>
                <% } %>

                <div class="title-card">
                    <h2>OFERTAS</h2>
                </div>
                
                <% for (let i= 2 ; i < 3; i++ ) { %>
                    <div class="container">
                        <div class="product prod-desk">
                            <div class="product-card">
    
                                <a href="/products/<%=products[i].id%>" class="popup-btn">Detalle</a>
                                <img class="product-img" src="/images/<%= products[i].imagen %>" alt=""> 

                                <h2 class="name">
                                    <%= products[i].nombre %>
                                </h2>     
                                 
                            </div>
                        </div>
                    </div>
                    <% } %>


                    <!-- FOOTER -->
                    <%-include("./partials/footer.ejs")%>
                        <!-- FIN FOOTER -->

    </body>

</html>