<!DOCTYPE html>
<html lang="en">

<%-include("./partials/head.ejs")%>

    <body>

        <%-include("./partials/header.ejs")%>

            <div class="header">
                <div class="title-header">
                    <h2>MIRÁ UN ADELANTO<br><span>&nbsp;&nbsp;&nbsp;&nbsp; DE LA NUEVA COLECCIÓN</span></h2>
                </div>
            </div>

            <!-- Sneakers -->
            <div class="title-card">
                <h2>Sneakers</h2>
            </div>

            <% products.forEach((product)=> { %>
                <div class="container">
                    <div class="product prod-desk">
                        <div class="product-card">

                            <h2 class="name">
                                <%= product.nombre %>
                            </h2>

                            <span class="price">
                                $<%= product.precio %>
                            </span>

                            <a class="popup-btn" href="/carrito">Comprar</a>
                            <a class="popup-btn" href="/editar">Editar</a>
                            <a class="popup-btn">Eliminar</a>
                            <img class="product-img" src="/images/<%= product.imagen %>" alt="">
                            
                        </div>
                    </div>
                </div>
                <% }) %>


                    <!-- FOOTER -->
                    <%-include("./partials/footer.ejs")%>
                        <!-- FIN FOOTER -->

    </body>

</html>