<!DOCTYPE html>
<html lang="en">

<%-include("./partials/head.ejs")%>

    <body>
        <%-include("./partials/header.ejs")%>
            <main>
                <br>
                <div class="contenedor-general">
                    <h2 class="titulares">Registro de usuario</h2>
                    <div class="contenedor-register">                        

                        <form action="/register" method="post">
                            <div class="register-individual">
                                <label for="name"></label>
                                <input type="text" name="name" id="name" class="campos" placeholder="Nombre de usuario"
                                    value="<%= locals.old && old.name ? old.name : "" %>">
                            </div>

                            <div class="register-individual">
                                <label for="pass"></label>
                                <input type="password" name="pass" id="pass" class="campos" placeholder="Contraseña">
                            </div>

                            <div class="register-individual">
                                <label for="repass"></label>
                                <input type="password" name="repass" id="repass" class="campos"
                                    placeholder="Confirmar contraseña">
                            </div>

                            <div class="register-individual">
                                <label for="domicilio"></label>
                                <input type="text" name="domicilio" id="domicilio" class="campos"
                                    placeholder="Domicilio"
                                    value="<%= locals.old && old.domicilio ? old.domicilio : "" %>">
                            </div>

                            <div class="register-individual">
                                <label for="zipcode"></label>
                                <input type="text" name="zipcode" id="zipcode" class="campos"
                                    placeholder="Codigo postal"
                                    value="<%= locals.old && old.zipcode ? old.zipcode : "" %>">
                            </div>

                            <div class="register-individual">
                                <label for="email"></label>
                                <input type="email" name="email" id="email" class="campos" placeholder="Email"
                                    value="<%= locals.old && old.email ? old.email : "" %>">
                            </div>
                            <br>
                            <div class="register-individual">
                                <button type="submit" class="botones">Registrarme</button>
                            </div>
                            <% if (locals.errors) { errors.forEach (error=> { %>
                                <p class="errorMessageRegister">*<%= error.msg %>
                                </p>
                                <% })} %>                           

                        </form>
                    </div>
                </div>
            </main>
            <%-include("./partials/footer.ejs")%>
    </body>

</html>