<!DOCTYPE html>
<html lang="en">

<%-include("./partials/head.ejs")%>

    <body>

        <%-include("./partials/header.ejs")%>

        <div class="header">
            <div class="title-header">
                <h2>MIRÁ UN ADELANTO<br><span>&nbsp;&nbsp;&nbsp;&nbsp; DE LA NUEVA COLECCIÓN</span></h2>
            </div>
        </div>
            <div class="container">
                <div class="product prod-desk">
                    <div class="product-card-DETAIL">
                        <h2 class="name-DETAIL">
                            <%=productoSeleccionado.nombre%>
                        </h2>
                        <div class="price-DETAIL">$<%=productoSeleccionado.precio%></div>       
                        <div class="descripcion-DETAIL"><%=productoSeleccionado.descripcion%></div>             
                        <img class="product-img-DETAIL" src="/images/products/<%=productoSeleccionado.imagen%>" alt="">
                    </div>
                </div>
            </div>

            <div class="contenedor-DETAIL">

                <form action="/products/carrito/<%=productoSeleccionado.id%>" method="POST">
                    <button type="submit" class="botones-DETAIL">Comprar</button>
                </form><br><br>


                <% if (locals.isLogged) { %>

                <a href="/products/edit/<%=productoSeleccionado.id%>" type="submit" class="botones-DETAIL">Editar</a>

                <form action="/products/delete/<%=productoSeleccionado.id%>?_method=delete" method="post" style="display:contents"><button type="submit" class="botones-DETAIL">Eliminar</button></form>

                <% } %> 

            </div>

            <!-- FOOTER -->
            <%-include("./partials/footer.ejs")%>
                <!-- FIN FOOTER -->

    </body>

</html>